.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 100px;
      padding: 13px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      .option {
        padding: 10px 15px;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

        &:hover{
          transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
          box-shadow: inset 0 -0.4px 0 0 black;
        }
      }


    }
  }
  